@import "tailwindcss";


/* index.css */
body.light {
  --bg-color: #ffffff;
  --text-color: #000000;
  --accent-color: #e58d00;
}

body.dark {
  --bg-color: #0c0c0c;
  --text-color: #ffffff;
  --accent-color: #e58d00;
}

/* Optional for buttons, cards, etc. */
.bg-theme { background-color: var(--bg-color); }
.text-theme { color: var(--text-color); }
.accent-theme { color: var(--accent-color); }

.homehomeHeader {
  background-image: url(assets/header_img.png);
}

.cart {
  position: relative;
  display: inline-block;
}

.dot {
  min-width: 21px;
  height: 21px;
  background-color: orangered;
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  line-height: 16px;
  border-radius: 50%;
  position: absolute;
  top: -8px;
  right: -16px;
  padding: 0 4px;
  border: 2px solid white; /* optional for better contrast */
}