
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap")
layer(base);

@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-*: initial;
  --font-outfit: Outfit, sans-serif;

  --color-brand-25: #fafafa;
  --color-brand-50: #f5f5f5;
  --color-brand-100: #e5e5e5;
  --color-brand-200: #d4d4d4;
  --color-brand-300: #a3a3a3;
  --color-brand-400: #737373;
  --color-brand-500: #000000; /* brand */
  --color-brand-600: #171717;
  --color-brand-700: #262626;
  --color-brand-800: #404040;
  --color-brand-900: #525252;
  --color-brand-950: #737373;
}

.homehomeHeader {
  background-image: url(assets/header_img.png);
}

.cart {
  position: relative;
  display: inline-block;
  color: #143924;
}

.dot {
  min-width: 21px;
  height: 21px;
  background-color: orangered;
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  line-height: 16px;
  border-radius: 50%;
  position: absolute;
  top: -8px;
  right: -16px;
  padding: 0 4px;
  border: 2px solid white; /* optional for better contrast */
}

@keyframes custom-blink {
  0%, 100% { opacity: 1; transform: scale(1); }
  50% { opacity: 0.5; transform: scale(1.1); }
}
.animate-blink {
  animation: custom-blink 1.5s ease-in-out infinite;
}